body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

